<!DOCTYPE html>
<html lang="en">

<head>
	<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8KfURp96r4CKjjwA2TFphyybCeJVubJo">
</script>
<script>
function initialize()
{
  var mapProp = {
    center: new google.maps.LatLng(-23.4821149,-46.4995538),
    zoom:15,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="text-center"><span style="color:gray">Contate</span>
                          <strong>Bolo do Moranda</strong>
                      </h2>
                    <hr>
                </div>
                <div class="col-md-5">
                    <div id="googleMap" style="width:400px;height:300px;"></div>
                </div>
                <div class="col-md-7">
                    <p>Telefone:
                        <strong>(11) 97777-7770</strong>
                    </p>
                    <p>Email:
                        <strong>contato@bolodomoranda.com.br</strong>
                    </p>
                    <p>Endere&ccedil;o:
                        <strong>Rua Arlindo Béttio, 1000
                            <br>Ermelino Mattarazo, São Paulo - SP
                            <br> CEP: 03828-000</strong>
                    </p>
                   
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Ateli&ecirc; dos Bolos 2015</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
